
.main{
  width: 1200px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
}

.box1{
  width: 1199px;
  height: 530px;
  border: 1px solid #48fce5;
}

.footer{
  width: 1200px;
  border: 1px solid #c90026;

}
